#title{
    text-align: center;
    font-size: 45px;

    position: fixed;
  }
  
  #timesclicked{
    text-align: center;
  }   
  
  #buttondiv{
    text-align: center;
  }
  
  html{
    background-color: lightblue;
    
    font-family: sans-serif;
  }
  
  #reset{
    width: 250px;
    height: 100px;
    font-size: 30px;
    color: black;
    background-color: lightpink;
    
    border-radius: 20px;
    border-color: black;
    border-width: 3px;
  }